<div class="wrapper container-fluid">
  <h3><%=@drink[:name]%></h3>

  <div>
    <div class="story">
      <p>
        <%=@drink[:story] %>
      </p>
    </div>

    <div class="row">
      <div class="desc col-xs-6">
        <h3>Directions</h3>
        <ul>
          <% @drink[:desc].each do |line| %>
            <li><%=line%></li>
          <% end %>
        </ul>
      </div>

      <div class="ingredients-list col-xs-6">
        <div class="ingredients">
          <h3>Ingredients</h3>
          <ul>
            <% @drink[:ingredients].each do |ingredient| %>
              <li><%=ingredient %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <% if @drink[:video] %>
  <div class="video-container">
    <video width="80%" controls autoplay>
      <source src="<%=@drink[:video]%>" type="video/mp4">
      Video not available
    </video>
  </div>
  <% end %>

  <% if logged_in? %>
    <%= link_to "Save Drink", drinks_users_path(name: @drink[:name], code: @drink[:id]), method: "post" %>
  <% end %>
</div>