<div class="wrapper">
  <h3><%=@drink[:name]%></h3>

  <div class="story">
    <p>
      <%=@drink[:story] %>
    </p>
  </div>

  <div class="desc">
    <p>
      <%=@drink[:desc] %>
    </p>
  </div>

  <% if @drink[:video] %>
  <div>
    <video width="30%" controls autoplay>
      <source src="<%=@drink[:video]%>" type="video/mp4">
      Video not available
    </video>
  </div>
  <% end %>

  <% if logged_in? %>
    <%= link_to "Save Drink", drinks_users_path(name: @drink[:name], code: @drink[:id]), method: "post" %>
  <% end %>
</div>