<!DOCTYPE html>
<html>
  <head>
    <title>Mixology</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <header>
      <nav>
        <%= link_to "Home", root_path %>
        |
        <% if !logged_in? %>
          <%= link_to "Login", new_session_path %>
          |
          <%= link_to "Register", new_user_path %>
        <% else %>
          <%= link_to "Profile", user_path(current_user) %>
          |
          <%= link_to "Logout", session_path(current_user), method: :delete %>
        <% end %>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
