<!DOCTYPE html>
<html>
  <head>
    <title>Mixology</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <header>
      <nav>
        <% if logged_in? %>
          <%= link_to "Logout", session_path, method: :delete %>
        <% end %>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
